.tree-container {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  padding: 20px;
  margin-top: 120px;
}

.level {
  min-width: 250px;
  height: 400px;
  overflow-y: auto;
  border: 1px solid red;
  padding: 5px 20px;
  border-radius: 8px;
  background: #FFF;

  scrollbar-width: thin;
  scrollbar-color: #ff4d4d transparent;
}

/* WebKit */
.level::-webkit-scrollbar {
  width: 5px;
}

.level::-webkit-scrollbar-track {
  background: transparent;
  margin: 2px;             
  border-radius: 8px;
}

.level::-webkit-scrollbar-thumb {
  background-color: #ff4d4d;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box; 
}


.item {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.content{
  display: flex;
  justify-content: space-between;
}

.bar {
  width: 100%;
  height: 15px;
  background: #eee;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 6px;
}

.bar-fill {
  height: 15px;
  background: red;
  opacity: 0.4;
  border-radius: 4px;
  transition: width 0.4s ease;
}

.percentage {
  color: #ff5252;  
  font-weight: bold;
}

.underline{
  width: 98%;
  border: 1px solid red;
  padding: 0;
  opacity: 0.7;
  margin-bottom: 25px;
}

.level-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.dim-title{
  font-size: 1.5rem;
  color: #ff4d4d;
  opacity: 0.7;
  margin-bottom: 0;
}

.close-button{
  color: red;
  opacity: 1;
  border: 1px solid red;
  border-radius: 20px;
  padding: 5px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover{
  cursor: pointer;
  background-color: red;

  svg{
    color: white;
  }
}

.bar-selected {
  opacity: 1;
  border-radius: 4px;
  transition: width 0.4s ease;
  background: red;
  height: 15px;
}


