.tree-container {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  padding: 20px;
}

.level {
  min-width: 250px;
}

.item {
  margin-bottom: 12px;
}

.content{
  display: flex;
  justify-content: space-between;
}

.bar {
  width: 100%;
  height: 12px;
  background: #eee;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 6px;
}

.bar-fill {
  height: 100%;
  background: #4CAF50;
  border-radius: 6px;
  transition: width 0.4s ease;
}

.percentage {
  color: #ff5252;  
  font-weight: bold;
}

